{% extends 'shopping/base.html' %}
{% load static %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

                <hr>
                <table>
                    <th><h5>Items: <b>{{order.get_cart_items}} </b></h5></th>
                    <th><h5>Total: <b>R{{order.get_cart_total | floatformat:2 }} </b></h5></th>
                    <th>
                        <a style="float: right;" 
                        class="btn btn-success"
                        href="{% url 'checkout' %}">Check Out &#8594;</a>
                    </th>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2;"></div>
                    <div style="flex: 2;">Item</div>
                    <div style="flex: 2;">Price</div>
                    <div style="flex: 2;">Quantity</div>
                    <div style="flex: 2;">Total</div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2;"><img class="row-image" src="{% static 'images/unreal.png' %}"></div>
                    <div style="flex: 2;">{{item.product.name}}</div>
                    <div style="flex: 2;">{{item.product.price | floatformat:2}}</div>
                    <div style="flex: 2;">
                        <p class="quantity">{{item.quantity}}</p>
                        <div class="quantity">
                            <img data-product={{item.product.id}} data-action="add" class="chg-quantity" src="{% static 'images/arrow-up.png' %}">
                            <img data-product={{item.product.id}} data-action="remove" class="chg-quantity" src="{% static 'images/arrow-down.png' %}">
                        </div>
                    </div>
                    <div style="flex: 2;"> {{item.get_total}} </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock page_content %}
